body {
  padding: 0;
  margin: 0;
}

#popup-root {
  width: 10rem;
  height: 15rem;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
